<section id="trustedby" class="bg-light-gray">
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Value delivered to</h2>
                </div>
            </div>
            <div class="row row-flex" style="background-color: lightgrey">

                <!-- <div class="col-md-4 col-sm-6">
                    <a href="http://iprism.co.kr/iprism/en/index.html">
                        <img src="img/logos/iprism.png" class="img-responsive img-centered" alt="Iprism">
                    </a>
                </div> -->
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.smartcow.ai/">
                        <img src="img/logos/SmartCowLogo.svg" class="img-responsive img-centered" alt="SmartCowAI">
                    </a>
                </div>
                <!-- <div class="col-md-4 col-sm-6">
                    <a href="https://www.automotus.co/">
                        <img src="img/logos/Automotus.avif" class="img-responsive img-centered" alt="Automotus">
                    </a>
                </div> -->
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.eye-gauge.com/">
                        <img src="img/logos/eyegauge.avif" class="img-responsive img-centered" alt="EyeGauge">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://wintics.com/en/">
                        <img src="img/logos/wintics.png" class="img-responsive img-centered" alt="Wintics">
                    </a>
                </div>
                <!-- <div class="col-md-4 col-sm-6">
                    <a href="https://www.tahakom.com/en/about">
                        <img src="img/logos/tahakom-logo.svg" class="img-responsive img-centered" alt="Tahakom">
                    </a>
                </div> -->
            </div>
        </div>
    </aside>
</section>